# ไม่นำโฟลเดอร์ไลบรารีขึ้น (เพราะมีขนาดใหญ่มาก และโหลดใหม่ได้ผ่าน npm install)
node_modules/
backend/node_modules/
frontend/node_modules/

# ไฟล์การตั้งค่าสภาพแวดล้อม
.env
!backend/.env
frontend/.env

# ไม่นำรูปภาพสลิปที่ทดโหลดเล่น ๆ ในเครื่องขึ้น
backend/uploads/slips/slip-*

# ไฟล์ระบบของระบบปฏิบัติการ
.DS_Store
Thumbs.db

# โฟลเดอร์เก็บไฟล์ Log บันทึกประวัติระบบ
backend/logs/