PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=sport_complex_db
JWT_SECRET=your_jwt_secret_key_here
THUNDER_API_KEY=your_thunder_api_key_here
PROMPTPAY_ID=0902214698
PROMPTPAY_NAME=ณรงฤทธิ์ โจทจันทร์
